form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2196F3;
}
.search-bar {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.search-text{
    padding: 10px; 
    border-radius: 8px; 
    border: 1px solid #ccc;
}

.submit-btn{
    padding: 10px 15px; 
    border-radius: 8px; 
    border: none; 
    background: #0050a5; 
    color: white; 
    cursor: pointer;
    margin-left: auto;
    &:active{
        background-color: white;
        color: #0050a5;
    }
}

.options {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.timezone-btn{
    width: 45px;
    height: 35px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        background-color: rgb(18, 85, 139);
        color: white;
    }
}

.info-temp{
    visibility: hidden;
}

.firstSpan .secondSpan {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
    
.firstSpan:hover .secondSpan {
  visibility: visible;
}

.temp-btn {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        background-color: rgb(18, 85, 139);
        color: white;
    }
}

@media (max-width: 500px) {
    form {
        flex-direction: column;
        gap: 10px;
    }

    .options {
        justify-content: flex-start;
    }
}