html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: #165F9B;
  background: linear-gradient(0deg, #165f9b 0%, #2196F3 100%);
  display: flex;
  flex-direction: column;
}